[submodule "2_Sandbox/machine_learning"]
	path = 2_Sandbox/machine_learning
	url = https://github.com/blight25/machine_learning.git
[submodule "2_Sandbox/numerical_analysis"]
	path = 2_Sandbox/numerical_analysis
    url = https://github.com/blight25/numerical_analysis.git
